.features__section {
  background-color: $medium-red-color;
  color: $white-color;
  h1 {
    padding: 80px 0 20px 0;
  }
}

.features__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  h3,
  p {
    padding-top: 20px;
  }
  .features__article {
    max-width: 350px;
    margin-right: 38px;
    padding-bottom: 72px;
  }
}


@media screen and (max-width: 500px) {
  .features__article_img {
      max-width: 300px;
    }
}
