.features__section {
  background-color: $medium-red-color;
  color: $white-color;
  h1 {
    padding: 80px 0 20px 0;
  }
}

.container {
  display: flex;
  flex-direction: row;

  h3,
  p {
    padding-top: 20px;
  }
  .features__article {
    width: 380px;
    margin-right: 38px;
    padding-bottom: 72px;
  }
}
