.sex {
  h1 {
    padding: 10px 0;
  }
  .sex__big_container {
    display: flex;
    padding-bottom: 50px;
    border-bottom: 4px solid $light-red-color;
  }

  .sex__small_container {
    width: 400px;
    h3,
    p {
      padding: 10px;
    }
  }
}
