@import "header";
@import "hero";
@import "news";
@import "sex";
@import "technology";
@import "sport";
@import "features";
@import "footer";

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

.main__header,
.hero__top,
.news,
.sex,
.technology,
.sport,
.features__section,
.footer {
  padding: 0 350px;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  color: $black-color;
}

.img__two,
.news__left_article img,
.sex__small_container img,
.news__left_article img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1710px) {
  .main__header,
  .hero__top,
  .hero__bottom_section,
  .news,
  .sex,
  .technology,
  .sport,
  .features__section,
  .footer {
    padding: 0 150px;
  }
}

@media screen and (max-width: 1100px) {
  .main__header {
    padding: 0 10px;
  }
  .hero__top,
  .hero__bottom_section,
  .news,
  .sex,
  .technology,
  .sport,
  .features__section,
  .footer {
    padding: 45px 10px;
  }
}
